﻿<button class="btn btn-sm btn-outline-black float-right" (click)="processOrderModal.show()" mdbWavesEffect>
    <mdb-icon icon="edit" size="lg"></mdb-icon>
    Process Order
</button>
<button class="btn btn-sm btn-outline-black float-right" (click)="processPaymentModal.show()" mdbWavesEffect>
    <mdb-icon icon="edit" size="lg"></mdb-icon>
    Process Payment
</button>

<h2 class="h2">
    Order {{ order.orderNumber }}
</h2>
<hr />
<div class="row">
    <div class="col-4 mt-3">
        <b>Order Status:</b> {{ order.orderStatus.statusCode }}<hr />
    </div>
</div>
<div class="row">
    <div class="col-4 mt-3">
        <b>Payment Type:</b> {{ order.paymentType.typeCode }}
    </div>
</div>
<div class="row">
    <div class="col-4 mt-3">
        <b>Payment Status:</b> {{ order.paymentStatus.statusCode }}<hr />
    </div>
</div>
<div class="row mt-5" *ngFor="let item of order.orderItems;">
    <div class="col-2 my-auto">
        <img *ngIf="item.picture && item.picture.thumbnail; else emptyImage"
             [src]="item.picture.thumbnail"
             [alt]="item.picture.thumbnail"
             class="img-fluid image">

        <ng-template #emptyImage>
            <img src="http://via.placeholder.com/500x750" class="img-fluid image">
        </ng-template>
    </div>
    <div class="col-8 pt-2">
        <h3>{{ item.title }}</h3>

        <span class="font-small">
            {{ item.description }}
        </span>

        <div class="quantity mt-3">
            <strong class="mr-3">Quantity</strong> {{item.quantity}}
        </div>
        <div class="attributes mt-3">
            <span class=attribute *ngFor="let attribute of item.orderItemAttributesValuesXref">
                <strong class="mr-3">{{ attribute.inventoryAttributeTitle}}</strong> {{attribute.inventoryAttributeValueTitle}}
            </span>
        </div>

    </div>
    <div class="col-2 my-auto text-right">
        {{ item.price | currency:'EUR' }}

    </div>
</div>

<hr />

<div class="row">
    <div class="col-2 offset-10 text-right">
        <strong class="mr-3">Total</strong> {{ order.totalPrice | currency:'EUR' }}
    </div>
</div>

<div class="row">
    <div class="col-5">
        <h5 class="h5">
            Shipping Details:
        </h5>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-2 small">
        Contact Email:
    </div>
    <div class="col-3 small">
        {{order.shipment.email}}
    </div>
</div>
<div class="row">
    <div class="col-2 small">
        FullName:
    </div>
    <div class="col-3 small">
        {{order.shipment.fullName}}
    </div>
</div>
<div class="row">
    <div class="col-2 small">
        Address:
    </div>
    <div class="col-3 small">
        {{order.shipment.address1}}
    </div>
</div>
<div class="row">
    <div class="col-2 small">
        Country:
    </div>
    <div class="col-3 small">
        {{order.shipment.country.countryName}}
    </div>
</div>
<div class="row">
    <div class="col-2 small">
        City:
    </div>
    <div class="col-3 small">
        {{order.shipment.city}}
    </div>
</div>
<div class="row">
    <div class="col-2 small">
        Postal Code:
    </div>
    <div class="col-3 small">
        {{order.shipment.postalCode}}
    </div>
</div>

<!-- #region Order Status Modal -->
<div mdbModal #processOrderModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="processOrderModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 h4" id="editOrderModalLabel">Order {{ order.orderNumber }}</h4>
            </div>
            <form [formGroup]="processOrderForm" (submit)="processOrder()">
                <div class="modal-body">

                    <div class="md-form">

                        <ng-select id="orderStatuses"
                                   formControlName="orderStatus"
                                   ngSelectDirective
                                   bindLabel="statusCode"
                                   bindValue="id"
                                   [items]="orderStatuses"
                                   [mdbValidate]="false">
                        </ng-select>

                        <label for="orderStatuses">Order Status</label>

                        <!--Validation Labels-->
                        <div *ngIf="orderStatus.invalid &&
                                (orderStatus.dirty || orderStatus.touched)">

                            <label class="active validation-label" *ngIf="orderStatus.errors.required">
                                Order Status is required
                            </label>
                        </div>
                    </div>

                    <div *ngFor="let error of orderErrors">
                        <label class="validation-error-label"> {{ error }} </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-black waves-light" mdbWavesEffect [disabled]="processOrderForm.invalid">Process Order</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Payment Status Modal -->

<div mdbModal #processPaymentModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="processPaymentModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100 h4" id="editOrderModalLabel">Order {{ order.orderNumber }}</h4>
            </div>
            <form [formGroup]="processPaymentForm" (submit)="processPayment()">
                <div class="modal-body">

                    <div class="md-form">

                        <ng-select id="paymentStatuses"
                                   formControlName="paymentStatus"
                                   ngSelectDirective
                                   bindLabel="statusCode"
                                   bindValue="id"
                                   [items]="paymentStatuses"
                                   [mdbValidate]="false">
                        </ng-select>

                        <label for="paymentStatuses">Payment Status</label>

                        <!--Validation Labels-->
                        <div *ngIf="paymentStatus.invalid &&
                                (paymentStatus.dirty || paymentStatus.touched)">

                            <label class="active validation-label" *ngIf="paymentStatus.errors.required">
                                Payment Status is required
                            </label>
                        </div>
                    </div>

                    <div *ngFor="let error of paymentErrors">
                        <label class="validation-error-label"> {{ error }} </label>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-black waves-light" mdbWavesEffect [disabled]="processPaymentForm.invalid">Process Payment</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- #endregion -->