﻿<h3>
    Create New Category
</h3>

<admin-inventory-group-menu [id]="model.id"></admin-inventory-group-menu>

<form [formGroup]="form" (submit)="save()" class="mt-3">
    <div class="row">
        <div class="col">
            <div class="md-form">
                <input id="display-order"
                       type="number"
                       class="form-control"
                       formControlName="displayOrder"
                       [mdbValidate]="false"
                       mdbInputDirective>

                <label for="display-order">Display Order</label>

                <!--Validation Labels-->
                <div *ngIf="displayOrder.invalid &&
                     (displayOrder.dirty || displayOrder.touched)">

                    <label class="active validation-label" *ngIf="displayOrder.errors.required">
                        Display Order is required
                    </label>
                </div>
            </div>

            <div class="form-group">

                <label>Disabled</label>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" formControlName="disabled">
                        Check if you want to disable this group
                    </label>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="submit" class="btn btn-black" [disabled]="form.invalid">Save</button>
            <button type="button" class="btn btn-outline-black" [routerLink]="['/admin/categories']">Cancel</button>
        </div>
    </div>
</form>