﻿<div class="article pt-100">
    <div class="container" *ngIf="!loading">
        <div class="d-flex border-bottom">
            <h2 class="h2">
                {{article.title}}
            </h2>
            <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/blog']">
                <i class="fa fa-angle-double-left mr-2"></i>Return to news
            </a>
        </div>

        <div class="row mt-3">
            <div class="col text-center">
                <img *ngIf="article.picture && article.picture.thumbnail"
                     [src]="article.picture.thumbnail"
                     [alt]="article.picture.alt"
                     class="img-responsive">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col" [innerHTML]="article.description | sanitize: 'html'">
            </div>
        </div>
    </div>
</div>
