﻿
.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
}

    .sidebar-fixed .list-group .active {
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

.list-group-item.active {
    background-color: #000000;
    border-color: #000000
}

.sidebar-fixed .logo-wrapper {
    padding: 2.5rem;
}

    .sidebar-fixed .logo-wrapper img {
        max-height: 50px;
    }

@media (min-width: 1200px) {
    .navbar,
    .admin-content,
    main {
        padding-left: 270px;
    }
}

@media (max-width: 1199.98px) {
    .sidebar-fixed {
        display: none;
    }
}

.admin-content {
    /*margin-left: 270px;*/
    /*margin-right:auto;*/
    padding-top: 100px;
}
