﻿<!--Main Navigation-->
<header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
        <div class="container-fluid">

            <!-- Brand -->
            <!--<a class="navbar-brand waves-effect" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank">
                <strong class="blue-text">MDB</strong>
            </a>-->

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <!--<li class="nav-item active">
                        <a class="nav-link waves-effect" href="#">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank">About MDB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="https://mdbootstrap.com/angular/getting-started/" target="_blank">Free download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="https://mdbootstrap.com/angular/angular-tutorial/" target="_blank">Free tutorials</a>
                    </li>-->
                </ul>

                <!-- Right -->
                <!--<ul class="navbar-nav nav-flex-icons">

                    <li class="nav-item">
                        <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                           target="_blank">
                            <i class="fa fa-github mr-2"></i>MDB GitHub
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://mdbootstrap.com/product/angular-bootstrap-pro/" class="ml-1 nav-link border border-light rounded waves-effect">
                            <i class="fa fa-diamond left"></i> Go Pro
                        </a>
                    </li>
                </ul>-->

            </div>

        </div>
    </nav>
    <!-- Navbar -->
</header>
<!--Main Navigation-->
<!-- Sidebar -->
<div class="sidebar-fixed position-fixed">
    <div class="text-center mt-3">
        <a [routerLink]="['/home']">
            <img src="https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/main/cropped-logo.png" height="80" class="d-inline-block" alt="">
        </a>
    </div>
    
    <div class="mt-5 list-group list-group-flush">

        <a routerLink="/admin/dashboard" routerLinkActive="active" mdbWavesEffect class="list-group-item list-group-item-action waves-light">
            <i class="fa fa-pie-chart mr-3"></i>Dashboard
        </a>
        <a routerLink="/admin/orders" routerLinkActive="active" mdbWavesEffect class="list-group-item list-group-item-action waves-light">
            <i class="fa fa-money mr-3"></i>Orders
        </a>
        <a routerLink="/admin/categories" routerLinkActive="active" mdbWavesEffect class="list-group-item list-group-item-action waves-light">
            <i class="fa fa-list-ul mr-3"></i>Categories
        </a>
        <a routerLink="/admin/inventories" routerLinkActive="active" mdbWavesEffect class="list-group-item list-group-item-action waves-light">
            <i class="fa fa-cube mr-3"></i>Inventories
        </a>
        <a routerLink="/admin/attributes" routerLinkActive="active" mdbWavesEffect class="list-group-item list-group-item-action waves-light">
            <i class="fa fa-cubes mr-3"></i>Attributes
        </a>
        <a routerLink="/admin/specifications" routerLinkActive="active" mdbWavesEffect class="list-group-item list-group-item-action waves-light">
            <i class="fa fa-cubes mr-3"></i>Specifications
        </a>
        <a routerLink="/admin/inventory-groups" routerLinkActive="active" mdbWavesEffect class="list-group-item list-group-item-action waves-light">
            <i class="fa fa-exclamation mr-3"></i>Inventory Groups
        </a>
        <a routerLink="/admin/articles" routerLinkActive="active" mdbWavesEffect class="list-group-item list-group-item-action waves-light">
            <i class="fa fa-exclamation mr-3"></i>Articles
        </a>
    </div>
</div>
<!-- Sidebar -->

<div class="admin-content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
