﻿

<a class="waves-light" data-toggle="modal" data-target="#modal" (click)="modal.show()" mdbWavesEffect>
    <img [src]="picture.thumbnail" class="img-fluid img-responsive z-depth-1" />
</a>

<div mdbModal #modal="mdb-modal" class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-full-height modal-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="modalLabel">Upload Image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputFile" (change)="fileChangeEvent($event)">
                        <label class="custom-file-label" for="inputFile">Choose file</label>
                    </div>
                </div>

                <div class="image-cropper">
                    <image-cropper [imageChangedEvent]="imageChangedEvent"
                                   [maintainAspectRatio]="true"
                                   [aspectRatio]="aspectRatio"
                                   [resizeToWidth]="resizeToWidth"
                                   format="jpeg"
                                   (imageCropped)="imageCropped($event)"
                                   (imageLoaded)="imageLoaded()"
                                   (loadImageFailed)="loadImageFailed()"></image-cropper>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="modal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>