﻿<div class="container pt-100">

    <div class="d-flex border-bottom">
        <h2 class="h2">
            Your Cart
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/catalog']">
            <i class="fa fa-angle-double-left mr-2"></i>Continue shopping
        </a>
    </div>

    <div *ngIf="cart.cartItems.length > 0; else noItems">
        <div class="row mt-3" *ngFor="let item of cart.cartItems;">
            <div class="col-1 col-lg-1 align-self-center">
                <a (click)="delete(item.id)">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </a>
            </div>

            <div class="col-5 col-lg-2 align-self-center">
                <img *ngIf="item.picture && item.picture.thumbnail; else emptyImage"
                     [src]="item.picture.thumbnail"
                     [alt]="item.picture.thumbnail"
                     class="image">

                <ng-template #emptyImage>
                    <img src="http://via.placeholder.com/500x750" class="img-fluid image">
                </ng-template>
            </div>
            <div class="col-6 col-lg-8 pt-2">
                <h3 class="h3"><small>{{ item.title }}</small></h3>

                <p>
                    {{ item.price }} EUR
                </p>

                <!--<span class="font-small">
                    {{ item.description }}
                </span>-->

                <div class="attributes mt-3">
                    <span class=attribute *ngFor="let attribute of item.cartItemAttributesValuesXref">
                        <b>{{ attribute.inventoryAttributeTitle}}</b> - {{attribute.inventoryAttributeValueTitle}}
                    </span>
                </div>

            </div>
            <div class="col-lg-1 d-none d-lg-block align-self-center">
                <div class="md-form input-group">
                    <input type="number" class="form-control" (change)="updateQuantity(item)" [(ngModel)]="item.quantity" min="1" [max]="item.inventoryQuantity">
                </div>
            </div>
        </div>
    </div>

    <ng-template #noItems>
        <div class="row">
            <div class="col my-5 text-center font-small">
                Your cart is empty.
            </div>
        </div>
    </ng-template>

    <hr/>
    <div class="row">
        <div class="col-5 order-1 col-lg-4 order-lg-1 text-right">
            <strong class="mr-lg-3">Total (EUR)</strong> {{ cart.totalPrice | currency:'EUR' }}
        </div>
        <div class="col-7 col-lg-8">
            <h4 class="h4"><small>Estimated Shipping</small></h4>
            <small>Latvia - Free</small>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-5 offset-lg-7 text-center">
            <hr/>
            <button [routerLink]="['/checkout']" class="btn btn-black waves-light" mdbWavesEffect [disabled]="cart.cartItems.length == 0">Checkout</button>
            <button [routerLink]="['/catalog']" class="btn btn-outline-black" mdbWavesEffect>Continue</button>
        </div>
    </div>
</div>



