﻿<div class="container pt-100">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Fall / Winter 2018
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/looks']">
            <i class="fa fa-angle-double-left mr-2"></i>Return to looks
        </a>
    </div>

    <div class="row mt-3">
        <div class="col-lg-6 col-md-12">
            <img *ngIf="group.picture && group.picture.picture"
                 [src]="group.picture.picture"
                 [alt]="group.picture.alt"
                 class="img-fluid image">
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div *ngFor="let groupInventory of group.inventories" class="col-lg-6 col-md-12 mb-4">
                    <!--Card-->
                    <div class="card">
                        <a class="nav-link" [routerLink]="['/catalog-item', groupInventory.inventoryId]" mdbWavesEffect>
                            <!--Card image-->
                            <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                <img *ngIf="groupInventory.picture && groupInventory.picture.thumbnail; else emptyImage"
                                     [src]="groupInventory.picture.thumbnail"
                                     [alt]="groupInventory.picture.alt"
                                     class="img-fluid image">

                                <ng-template #emptyImage>
                                    <img src="http://via.placeholder.com/500x750" class="img-fluid image">
                                </ng-template>

                                <div class="mask"></div>

                                <div class="card-content">
                                    <div class="card-title">
                                        <h4>{{ groupInventory.title }}</h4>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    <!--/.Card-->
                </div>
            </div>
        </div>
    </div>

</div>