﻿<div class="container pt-100">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Fall / Winter 2018
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/']">
            <i class="fa fa-angle-double-left mr-2"></i>Return to home
        </a>
    </div>

    <div *ngIf="!loading">
        <div class="row mt-3" *ngIf="groups.length > 0; else noItems">
            <div *ngFor="let group of groups" class="col-lg-4 col-md-12 mt-4">
                <!--Card-->
                <div class="card">
                    <a class="nav-link" [routerLink]="['/look', group.id]" mdbWavesEffect>
                        <!--Card image-->
                        <div class="view hm-white-slight waves-light" mdbWavesEffect>
                            <img *ngIf="group.picture && group.picture.thumbnail; else emptyImage"
                                 [src]="group.picture.thumbnail"
                                 [alt]="group.picture.alt"
                                 class="img-fluid image">

                            <ng-template #emptyImage>
                                <img src="http://via.placeholder.com/500x750" class="img-fluid image">
                            </ng-template>

                            <div class="mask"></div>
                        </div>
                    </a>
                </div>
                <!--/.Card-->
            </div>
        </div>
        <ng-template #noItems>
            <div class="row">
                <div class="col mt-5 text-center font-small">
                    There are no any items.
                </div>
            </div>
        </ng-template>
        <looks-paging [pageSize]="pageSize"
                      [total]="total"
                      (pageChangedEvent)="onPageChanged($event)">
        </looks-paging>
    </div>
</div>