﻿.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
}

.card {
    border-radius: 0;
    display: inline-block;
}

.card a {
    padding: 0;
}

.card-content, .mask:hover {
    cursor: pointer;
}

.card:hover .image {
    opacity: 0.3;
}

.card:hover .card-content {
    opacity: 1;
}

.card a:hover {
    color: #000;
}

.card a {
    transition: unset !important;
}

.card a:hover {
    transition: unset !important;
}