﻿<!--Categories Navigation-->
<div class="row">
    <div class="col text-center">
        <ul class="list-inline">
            <li *ngFor="let category of categories" [routerLinkActive]="['active']" class="list-inline-item">
                <a [routerLink]="['/catalog', category.id]">{{ category.title }}</a>
            </li>
        </ul>
    </div>
</div>