<app-loader></app-loader>
<router-outlet></router-outlet>

<div mdbModal #frame="mdb-modal" class="modal fade bottom modal-scrolling" id="cookieModalBottom" role="dialog" aria-labelledby="EuCookieDirective"
     aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog modal-frame modal-bottom modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Body-->
            <div class="modal-body">
                <div class="row d-flex justify-content-center align-items-center">

                    <p class="pt-3 pr-5 font-small">Marka Apparel website uses cookies to improve your experience. By continuing to browse the site you are agreeing to our use of cookies.</p>
                   
                    <button type="button" outline="true" class="btn btn-sm btn-black waves-light" mdbWavesEffect data-dismiss="modal" (click)="acceptCookies()">Ok, thanks</button>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<!--{{ 'HelloText' | translate:lang }}



<ul class="nav navbar-nav navbar-right">
    <li><a (click)="ChangeCulture('lv','LV', 'EUR')">de</a></li>
    <li><a (click)="ChangeCulture('ru','RU', 'RUB')">fr</a></li>
    <li><a (click)="ChangeCulture('en','US', 'USD')">en</a></li>
</ul>-->
