﻿<a [routerLink]="['/admin/inventory']" class="btn btn-sm btn-outline-black float-right">
    <mdb-icon icon="plus-circle" size="lg"></mdb-icon>
    Create New Inventory
</a>

<h3>
    Inventories
</h3>
<hr />

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventory of inventories">
                <td>{{ inventory.title }}</td>
                <td>{{ inventory.description }}</td>
                <td>
                    <a class="mr-3" [routerLink]="['/admin/inventory', inventory.id]">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <a (click)="delete(inventory.id)">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>