﻿body, html {
    height: 100vh;
}

.main-nav .container {
    max-width: 100%;
    margin-left: unset !important;
    margin-right: unset !important;
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
}


.navbar-default {
    background-color: #fafafa;
}

.navbar-transparent {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #fafafa;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #fafafa;
    }
}

/*Marka Spinner*/
.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.app-loading .loader {
    transform-origin: center center;
    position: absolute;
    margin: 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #2e2e2e;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.image-loading {
    position: relative;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin .75s linear infinite;
    animation: spin .75s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Bootstrap Extensions*/
a {
    color: #000;
}

a:hover {
    color: #808080;
}

a, a:hover {
    text-decoration: none;
    transition: all .35s ease-in;
}

.pt-100 {
    padding-top: 100px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

/* MD Bootsrap inputs */

input[type=text]:focus:not([readonly]) + label {
    color: gray !important;
}

input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid gray !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input[type=password]:focus:not([readonly]) + label {
    color: gray !important;
}

input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid gray !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

input[type=number]:focus:not([readonly]) + label {
    color: gray !important;
}

input[type=number]:focus:not([readonly]) {
    border-bottom: 1px solid gray !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

textarea:focus:focus:not([readonly]) + label {
    color: gray !important;
}

textarea:focus:not([readonly]) {
    border-bottom: 1px solid gray !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

/*NG Select*/
.ng-select {
    padding-bottom: 0px;
    margin: 0 0 .5rem;
    z-index: 1001;
}

.ng-select:hover {
    cursor: text;
}

.ng-select .ng-select-container {
    min-height: 38.6px;
}

.ng-select .ng-select-container:after {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.ng-select .ng-select-container .ng-value-container {
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: 0px;
}

.ng-select .ng-select-container .ng-value-container .ng-value,
.ng-select .ng-select-container .ng-value-container .ng-input {
    padding-top: 0.3rem;
    padding-right: 0px;
    padding-bottom: 0.55rem;
    padding-left: 0px;
    bottom: 0px;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    line-height: 1.5;
}

.ng-select.ng-select-focused .ng-select-container:after {
    border-bottom: 1px solid gray !important;
}


.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
    color: gray
}

.ng-select input[type=text]:focus:not([readonly]) {
    border-bottom: 0 !important;
    box-shadow: none !important;
}

.ng-select .ng-dropdown-panel.ng-select-bottom {
    top: auto;
}

.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background: none;
    color: #495057;
    font-size: 1rem;
}

.ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background: rgba(0,0,0,0.03);
    color: #495057;
    font-size: 1rem;
}
/*NG select Validation*/
ng-select.ng-invalid.ng-dirty .ng-select-container:after,
ng-select.ng-invalid.ng-touched .ng-select-container:after {
    border-bottom: 1px solid #f44336 !important;
}
/*Radio Buttons*/
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #495057;
    border-radius: 50%;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.1rem #808080;
}


/*Checkbox*/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #495057;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.1rem #808080;
}

/*Validation Labels*/
.md-form .form-control.ng-invalid.ng-dirty,
.md-form .form-control.ng-invalid.ng-touched {
    border-bottom: 1px solid #f44336 !important;
}

.validation-label {
    left: auto !important;
    right: 0 !important;
    color: #f44336 !important;
}

.validation-error-label {
    color: #f44336 !important;
    font-size: .8rem !important;
}
