﻿<div class="container pt-100">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            News
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/']">
            <i class="fa fa-angle-double-left mr-2"></i>Return to home
        </a>
    </div>

    <div *ngIf="!loading">
        <div class="row mt-3" *ngIf="articles.length > 0; else noItems">
            <div *ngFor="let article of articles" class="col-lg-6 mb-4">
                <!-- Card -->
                <div class="card border rounded-0 shadow-none">
                    <!-- Card image -->
                    <div class="view overlay">
                        <img *ngIf="article.picture && article.picture.thumbnail; else emptyImage"
                             [src]="article.picture.thumbnail"
                             [alt]="article.picture.alt"
                             class="card-img-top ">

                        <ng-template #emptyImage>
                            <img src="http://via.placeholder.com/700x393" class="card-img-top">
                        </ng-template>

                        <a [routerLink]="['/article', article.id]">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h3 class="h3 card-title"><small>{{article.title}}</small></h3>
                    </div>
                    <div class="card-footer small">
                        <a [routerLink]="['/article', article.id]" class="link-text float-right">
                            Read more
                            <i class="fa fa-angle-double-right ml-1"></i>
                        </a>

                        {{article.createDate | date}}
                    </div>

                </div>
                <!-- Card -->
            </div>
        </div>
        <ng-template #noItems>
            <div class="row">
                <div class="col mt-5 text-center font-small">
                    There are no any items.
                </div>
            </div>
        </ng-template>
        <blog-paging class="mx-auto"
                     [pageSize]="pageSize"
                     [total]="total"
                     (pageChangedEvent)="onPageChanged($event)">
        </blog-paging>
    </div>
</div>