﻿<h3>
    Create New Specification
</h3>

<admin-specification-menu [id]="id"></admin-specification-menu>


<form [formGroup]="form" (submit)="save()" class="mt-3">
    <div class="row">
        <div class="col">

            <div formArrayName="translations" *ngFor="let translation of translations; let i = index;">
                <div [formGroupName]="i">
                    <div class="md-form">
                        <input id="title-{{i}}"
                               type="text"
                               class="form-control"
                               formControlName="title"
                               [mdbValidate]="false"
                               mdbInputDirective>

                        <label for="title-{{i}}" class="">{{ translations[i].controls.languageTitle.value }} Title</label>

                        <!--Validation Labels-->
                        <div *ngIf="translations[i].controls.title.invalid &&
                               (translations[i].controls.title.dirty || translations[i].controls.title.touched)">

                            <label class="active validation-label" *ngIf="translations[i].controls.title.errors.required">
                                {{ translations[i].controls.languageTitle.value }} Title is required
                            </label>

                            <label class="active validation-label" *ngIf="translations[i].controls.title.errors.minlength">
                                {{ translations[i].controls.languageTitle.value }} Title must be at least 1 character long
                            </label>

                            <label class="active validation-label" *ngIf="translations[i].controls.title.errors.maxlength">
                                {{ translations[i].controls.languageTitle.value }} Title must be not more then 255 characters long
                            </label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="md-form">
                <input id="display-order"
                       type="number"
                       class="form-control"
                       formControlName="displayOrder"
                       [mdbValidate]="false"
                       mdbInputDirective>

                <label for="display-order">Display Order</label>

                <!--Validation Labels-->
                <div *ngIf="displayOrder.invalid &&
                     (displayOrder.dirty || displayOrder.touched)">

                    <label class="active validation-label" *ngIf="displayOrder.errors.required">
                        Display Order is required
                    </label>
                </div>
            </div>

            <div *ngFor="let error of errors">
                <label class="validation-error-label"> {{ error }} </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="submit" class="btn btn-black">Save</button>
            <button type="button" class="btn btn-outline-black" [routerLink]="['/admin/inventory/'+ id + '/attributes']">Cancel</button>
        </div>
    </div>
</form>

<br />

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Display Order</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of values">
                <td>{{ value.title }}</td>
                <td>{{ value.displayOrder }}</td>
                <td>
                    <a (click)="delete(value.id)">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>