﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    @*<meta http-equiv="X-UA-Compatible" content="IE=edge" />*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marka</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    

</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
