﻿<div class="container pt-100">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Forgot Password
        </h2>
        <a class="ml-auto my-auto d-none d-lg-block" [routerLink]="['/login']">
            <i class="fa fa-angle-double-left mr-2"></i>Return to login
        </a>
    </div>

    <div class="row mt-3">
        <div class="col-lg-6">
            <form [formGroup]="form" (submit)="forgotPassword()">
                <div class="md-form">
                    <input id="email"
                           type="text"
                           class="form-control"
                           formControlName="email"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="email">Email</label>

                    <!--Validation Labels-->
                    <div *ngIf="email.invalid &&
                        (email.dirty || email.touched)">

                        <label class="active validation-label" *ngIf="email.errors.required">
                            Email is required
                        </label>

                        <label class="active validation-label" *ngIf="email.errors.email">
                            Invalid Email
                        </label>
                    </div>
                </div>

                <div *ngIf="success">
                    <label class="text-success font-small">Password recovery details successfully sent.</label>
                </div>

                <div *ngFor="let error of errors">
                    <label class="validation-error-label"> {{ error }} </label>
                </div>

                <div class="md-form">
                    <button type="submit" class="btn btn-black waves-light" mdbWavesEffect [disabled]="form.invalid">Recover Password</button>

                    <a class="font-small ml-3 d-lg-none" [routerLink]="['/login']">
                        Sign In
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>