﻿<ul class="nav nav-tabs mt-4">
    <li class="nav-item">
        <a class="nav-link" *ngIf="attributeId; else parameterless"
           [routerLinkActive]="['active']"
           [routerLink]="['/admin/inventory/', id, 'attribute', attributeId, 'general']">
            General
        </a>

        <ng-template #parameterless>
            <a class="nav-link"
               [routerLinkActive]="['active']"
               [routerLink]="['/admin/inventory/', id, 'attribute','general']">
                General
            </a>
        </ng-template>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['/admin/inventory/', id, 'attribute', attributeId, 'values']"
           [ngClass]="{disabled: !attributeId}">
            Values
        </a>
    </li>
</ul>