<!--Navbar-->
<mdb-navbar SideClass="main-nav navbar navbar-expand-lg fixed-top navbar-light {{ getNavigationStyles() }}">
    <mdb-navbar-brand></mdb-navbar-brand>
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">

            <!--Home-->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/home']" mdbWavesEffect>
                    <span class='glyphicon glyphicon-th-list'></span> Home
                </a>
            </li>

            <!-- Shop -->
            <li class="nav-item dropdown" dropdown [routerLinkActive]="['active']">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                    Shop<span class="caret"></span>
                </a>

                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <h6 class="dropdown-header">Categories</h6>
                    <div class="divider dropdown-divider"></div>
                    <div *ngFor="let category of categories">
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/catalog', category.id]">{{ category.title }}</a>
                    </div>
                </div>
            </li>

            <!--Looks-->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/looks']" mdbWavesEffect>
                    <span class='glyphicon glyphicon-th-list'></span> Looks
                </a>
            </li>

            <!--Blog-->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/blog']" mdbWavesEffect>
                    <span class='glyphicon glyphicon-th-list'></span> News
                </a>
            </li>

            <!--Customer Service-->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/customer-service']" mdbWavesEffect>
                    <span class='glyphicon glyphicon-th-list'></span> Customer Service
                </a>
            </li>

            <!--About-->
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/about']" mdbWavesEffect>
                    <span class='glyphicon glyphicon-th-list'></span> About
                </a>
            </li>
            <!-- Admin -->
            <li class="nav-item d-none d-lg-inline-block" *authGuard="['admin']" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/admin']" mdbWavesEffect>
                    <span class='glyphicon glyphicon-th-list'></span> Admin
                </a>
            </li>
           
        </ul>
        <!-- Links -->

        <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/cart']" mdbWavesEffect>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="mr-2">Shopping Cart</span>
                        <span class="badge badge-danger">{{itemCount}}</span>
                    </div>
                </a>
            </li>
            <li class="nav-item dropdown" dropdown *authGuard="['user']" [routerLinkActive]="['active']">
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                    Account<span class="caret"></span>
                </a>


                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <h6 class="dropdown-header">Account</h6>
                    <div class="divider dropdown-divider"></div>
                    <div>
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/orders']">Orders</a>
                    </div>
                </div>
            </li>


            <li class="nav-item" [routerLinkActive]="['active']" *authGuard="['guest']">
                <a class="nav-link" [routerLink]="['/login']" mdbWavesEffect>
                    <span class='glyphicon glyphicon-th-list'></span> Sign In
                </a>
            </li>

            <li class="nav-item" *authGuard="['user']">
                <a class="nav-link" [routerLink]="['/']" (click)="logout()" mdbWavesEffect>
                    <span class='glyphicon glyphicon-th-list'></span> Sign Out
                </a>
            </li>

        </ul>

        <!-- Collapsible content -->
    </links>


</mdb-navbar>
<!--/.Navbar-->