mdb-navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/main/cropped-logo.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 45px;
}

.brand {
    margin-right: unset;
}
.navbar-toggler {
    padding-left: 0px;
    padding-right: 0px;
}


@media (max-width: 992px) {
    mdb-navbar-brand {
        position: unset;
        left: unset;
        transform: unset;
        background-position: left;
    }
}
/* IE10 + CSS here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    mdb-navbar-brand {
        top: 0;
    }

    @media (max-width: 992px) {
        mdb-navbar-brand {
            top: unset;
        }
    }
}
