﻿<h3>
    Create New Inventory
</h3>

<admin-inventory-menu [id]="id"></admin-inventory-menu>

<h4 class="mt-5">
    Create New Inventory Attribute
</h4>


<admin-inventory-attribute-menu [id]="id" [attributeId]="attributeId"></admin-inventory-attribute-menu>

<router-outlet></router-outlet>