﻿<a [routerLink]="['/admin/inventory-group']" class="btn btn-sm btn-outline-black float-right">
    <mdb-icon icon="plus-circle" size="lg"></mdb-icon>
    Create New Inventory Group
</a>

<h3>
    Inventory Groups
</h3>
<hr />

<div class="row">
    <div class="col-4 mb-4" *ngFor="let group of groups">
        <div class="card">

            <div class="view hm-white-slight waves-light" mdbWavesEffect>
                <img *ngIf="!group.picture" src="http://via.placeholder.com/500x750" class="img-fluid image" />
                <img *ngIf="group.picture" [src]="group.picture.thumbnail" class="img-fluid image" [alt]="group.picture.alt">
                <a>

                    <div class="mask"></div>
                </a>

                <div class="card-content">
                    <div>
                        <!--<a class="mr-3" [routerLink]="['/admin/inventory', inventory.id]">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>-->
                        <a class="btn btn-sm btn-outline-black" [routerLink]="['/admin/inventory-group', group.id]">Edit</a>
                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="delete(group.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>