﻿<div class="container pt-100">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Thank You
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/catalog']">
            <i class="fa fa-angle-double-left mr-2"></i>Continue shopping
        </a>
    </div>

    <div class="mt-5 text-center">
        Your order have been successfully completed.
        <br />
        Email with details how to pay for your order sent to your email address.
    </div>
</div>