﻿<div class="pt-100 h-100 container">
    <div class="row">
        <div class="col-lg-6">
            <div class="d-flex mb-3 border-bottom">
                <h2 class="h2">
                    Login As Customer
                </h2>
            </div>

            <form [formGroup]="authForm" (submit)="authenticate()">

                <div class="md-form">
                    <input id="login-email"
                           type="text"
                           class="form-control"
                           formControlName="email"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="login-email">Email</label>

                    <!--Validation Labels-->
                    <div *ngIf="loginEmail.invalid &&
                        (loginEmail.dirty || loginEmail.touched)">

                        <label class="active validation-label" *ngIf="loginEmail.errors.required">
                            Email is required
                        </label>

                        <label class="active validation-label" *ngIf="loginEmail.errors.email">
                            Invalid Email
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="login-password"
                           type="password"
                           class="form-control"
                           formControlName="password"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="login-password">Password</label>

                    <!--Validation Labels-->
                    <div *ngIf="loginPassword.invalid &&
                        (loginPassword.dirty || loginPassword.touched)">

                        <label class="active validation-label" *ngIf="loginPassword.errors.required">
                            Password is required
                        </label>
                    </div>
                </div>

                <div *ngFor="let error of loginErrors">
                    <label class="validation-error-label"> {{ error }} </label>
                </div>

                <div class="md-form mt-3">
                    <button  type="submit" class="btn btn-black waves-light" mdbWavesEffect [disabled]="authForm.invalid">Login</button>
                    <a class="font-small ml-3" [routerLink]="['/recover']">
                        Forgot Password
                    </a>
                </div>
            </form>
        </div>

        <div class="col-lg-6">
            <div class="d-flex mb-3 border-bottom">
                <h2 class="h2">
                    Create New Account
                </h2>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="md-form">
                    <input id="fullName"
                           type="text"
                           class="form-control"
                           formControlName="fullName"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="fullName">Full Name</label>

                    <!--Validation Labels-->
                    <div *ngIf="fullName.invalid &&
                        (fullName.dirty || fullName.touched)">

                        <label class="active validation-label" *ngIf="fullName.errors.required">
                            Full Name is required
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="email"
                           type="text"
                           class="form-control"
                           formControlName="email"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="email">Email</label>

                    <!--Validation Labels-->
                    <div *ngIf="email.invalid &&
                        (email.dirty || email.touched)">

                        <label class="active validation-label" *ngIf="email.errors.required">
                            Email is required
                        </label>

                        <label class="active validation-label" *ngIf="email.errors.email">
                            Invalid Email
                        </label>

                        <label class="active validation-label" *ngIf="email.errors.unique">
                            Email is already taken
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="password"
                           type="password"
                           class="form-control"
                           formControlName="password"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="password">Password</label>

                    <!--Validation Labels-->
                    <div *ngIf="password.invalid &&
                        (password.dirty || password.touched)">

                        <label class="active validation-label" *ngIf="password.errors.required">
                            Password is required
                        </label>

                        <label class="active validation-label" *ngIf="password.errors.minlength">
                            Password should be minimum 8 symbols
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="confirmPassword"
                           type="password"
                           class="form-control"
                           formControlName="confirmPassword"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="confirmPassword">Confirm Password</label>

                    <!--Validation Labels-->
                    <div *ngIf="confirmPassword.invalid &&
                        (confirmPassword.dirty || confirmPassword.touched)">

                        <label class="active validation-label" *ngIf="confirmPassword.errors.required">
                            Confirm Password is required
                        </label>

                        <label class="active validation-label" *ngIf="confirmPassword.errors.equalValidator">
                            Confirm Password is not equal
                        </label>
                    </div>
                </div>

                <div *ngFor="let error of registerErrors">
                    <label class="validation-error-label"> {{ error }} </label>
                </div>

                <div class="md-form">
                    <button type="submit" class="btn btn-black waves-light" mdbWavesEffect [disabled]="registerForm.invalid">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>