﻿<div class="container pt-100">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Customer Service
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/']">
            <i class="fa fa-angle-double-left mr-2"></i>Return to home
        </a>
    </div>

    <div class="row mt-3">
        <div class="col-lg-7">
            <strong>support@markaapparel.eu</strong><br /><br />
            <b>+371 29792817</b> <br /><br />
            If you have any questions or suggestions, please
            do not hesitate to contact us.<br />
            We will answer your questions in English, Latvian, Russian.<br /><br />

            <b>Marka apparel Showroom, Office & Warehouse</b><br />
            Mon-Fri 8:00am – 17:00pm.<br />
            Valkas 6a-6<br />
            Daugavpils<br />
            Latvia LV-5401<br />
            Reg. Nr. 41503079828   Vat.Nr. LV41503079828<br />
        </div>
        <div class="col-lg-5">
            <div class="service-image"></div>
        </div>
    </div>
</div>