﻿
.service-image {
    /* The image used */
    background-image: url("https://marka-apparel.ams3.cdn.digitaloceanspaces.com/production/images/main/coat_brown.jpg");
    /*background-image: url("../../../../bg.png");*/
    /* Half height */
    height: 80vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position:fixed;*/
}
