﻿<form [formGroup]="form" *ngIf="specifications.length > 0">
    <div formArrayName="specifications" *ngFor="let specification of specifications; let i = index;">
        <div [formGroupName]="i">
            <div class="mb-3">
                <strong>
                    {{specifications[i].controls.title.value}}
                </strong>
            </div>

            <div formArrayName="specValues" *ngFor="let value of specification.controls.specValues.controls; let y = index;">
                <div [formGroupName]="y">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="spec-value-{{i}}-{{y}}" formControlName="valueChecked" (change)="onCheckboxChange()">
                            <label class="custom-control-label" for="spec-value-{{i}}-{{y}}">{{specifications[i].controls.specValues.value[y].valueTitle}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>