﻿<footer class="mt-5 border-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 mt-3 px-5">
                <div class="mt-3">
                    <a class="mr-3" href="https://www.facebook.com/marka.apparel" target="_blank">
                        <i class="fa fa-2x fa-facebook-official"></i>
                    </a>
                    <a class="mr-3" href="https://www.instagram.com/marka.apparel" target="_blank">
                        <i class="fa fa-2x fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 mt-2 mt-lg-3 px-5 text-lg-right">
                <div class="mt-3 small">
                    <a href="tel:(+371) 29792817">(+371) 29792817</a>
                </div>
                <div class="mt-3 small">
                    <a href="mailto:support@markaapparel.eu">support@markaapparel.eu</a>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-8 mb-4 px-5 small">
                <a lass="d-inline" (click)="serviceModal.show()">Service</a>
                <a class="ml-3 ml-md-5 d-inline" (click)="shippingModal.show()">Shipping</a>
                <a class="ml-3 ml-md-5 d-inline" (click)="returnsModal.show()">Returns</a>
                <a class="ml-3 ml-md-5 d-inline" (click)="measurementModal.show()">Measurements</a>
            </div>
            <div class="col-lg-4 mb-4 px-5 text-muted text-lg-right small">
                &copy; 2019 markaapparel.eu
            </div>
        </div>
    </div>
</footer>

<div mdbModal #serviceModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="serviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 h4" id="serviceModalLabel">Service</h4>
            </div>
            <div class="modal-body">
                <strong>Service</strong>
                <p class="font-small my-3">
                    If you have any questions about your order, please email marka.apparel@gmail.com.<br />
                    Our customer service team is available Monday to Friday from 8:00 – 17:00 (weekends and holidays excluded).<br />
                    While we try to respond to all inquiries on the same day, some requests may require up to 48 hours.<br />
                    Once a purchase has been completed, you will receive a confirmation email with details of your order.
                </p>
                <strong>Item Availability</strong>
                <p class="font-small my-3">
                    Please, pay attention what all products are limited edition. <br />
                    Before take an order, please check product availability status.
                </p>
                <strong>Order Cancellation</strong>
                <p class="font-small my-3">
                    Marka apparel reserves the right to cancel any orders suspected of fraudulent activity. <br />
                    Any orders cancelled as a result of this will be notified by email, and will be refunded in full. <br />
                    To cancel your order, please contact us immediately marka.apparel@gmail.com.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-black" aria-label="Close" (click)="serviceModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #shippingModal="mdb-modal" style="overflow-y: auto"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="shippingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 h4" id="shippingModalLabel">Shipping</h4>
            </div>
            <div class="modal-body">
                <strong>Shipping</strong>
                <p class="font-small my-3">
                    Marka apparel ships via Latvian post for all domestic orders and international orders.
                </p>
                <strong>Shipping Rates</strong>
                <p class="font-small my-3">
                    We ship our goods only to Latvia, Austria, Belgium, Bulgaria, Czech Republic, Denmark, France, Greece, Croatia, Estonia, Italy, Ireland, Great Britain, Lithuania, Luxembourg, Netherlands, Poland, Portugal, Slovakia, Slovenia, Finland, Spain, Hungary, Germany, Sweden, England, United States, Belarus, Hong Kong, Iceland, Japan, Canada, South Corea, Russia, Norway, Ukraine.<br /><br />
                    If your country or territory is not listed please contact Customer service to check if other options are available.
                </p>
                <strong>Order Processing</strong>
                <p class="font-small my-3">
                    All orders placed on markaapparel.eu from Monday-Friday will begin processing the following business day. <br />
                    Please note, orders placed on Friday will begin processing on the following Monday, as our shipping department is closed on weekends.<br /><br />
                    Marka apparel will start prepear you order after the payment has been made.<br /><br />
                    Please allow 3-5 business days for shipping within Latvia and Europe, and 10-15 business days for international shipping.<br />
                    Delivery times do not include weekends and holidays.
                </p>
                <strong>Lost and Damaged Items</strong>
                <p class="font-small my-3">
                    Marka apparel is not liable for any damages incurred during transit. <br />
                    Damages in transit are the responsibility of Latvian post. <br />
                    All purchases are made at the buyers’ own risk. <br />
                    Marka apparel does not assume any responsibility for lost or damaged packages.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-black" aria-label="Close" (click)="shippingModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #returnsModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="returnsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 h4" id="returnsModalLabel">Returns</h4>
            </div>
            <div class="modal-body">
                <strong>Returns</strong>
                <p class="font-small my-3">
                    All full-priced items are eligible for a return within fourteen business days.<br />
                    Items must be un-worn and un-washed with the original packaging and hangtags attached.<br />
                    A copy of your receipt must also be included with your return. <br />
                    Please, keep in mind that you are responsible for paying for your own shipping costs for returning your item.<br />
                    We do not exchange a product. <br />
                    We recommend sending returns via registered post as we do not accept responsibility for lost items. <br />
                    Gift cards and promo codes cannot be applied to exchanges.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-black" aria-label="Close" (click)="returnsModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #measurementModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="measurementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 h4" id="measurementModalLabel">Measurements</h4>
            </div>
            <div class="modal-body">
                <strong>Women's Body Measurements</strong>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">XS</th>
                            <th scope="col">S</th>
                            <th scope="col">M</th>
                            <th scope="col">L</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Height</th>
                            <td>168 cm</td>
                            <td>168 cm</td>
                            <td>168 cm</td>
                            <td>168 cm</td>
                        </tr>
                        <tr>
                            <th scope="row">Bust Circumference</th>
                            <td>80</td>
                            <td>84</td>
                            <td>88</td>
                            <td>92</td>
                        </tr>
                        <tr>
                            <th scope="row">Waist Circumference</th>
                            <td>64</td>
                            <td>66</td>
                            <td>70</td>
                            <td>74</td>
                        </tr>
                        <tr>
                            <th scope="row">Hips Circumference</th>
                            <td>88</td>
                            <td>92</td>
                            <td>96</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">Sleeve Lenght</th>
                            <td>59</td>
                            <td>60</td>
                            <td>61</td>
                            <td>62</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-black" aria-label="Close" (click)="measurementModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>