﻿

<form [formGroup]="form" (submit)="save()" class="mt-3">
    <div class="row">
        <div class="col">
            <div class="md-form">
                <ng-select id="attributes"
                           [items]="attributes"
                           bindLabel="title"
                           bindValue="id"
                           formControlName="attributeId"
                           ngSelectDirective
                           [mdbValidate]="false">
                </ng-select>
                <label for="attributes">Attribute</label>

                <!--Validation Labels-->
                <div *ngIf="attribute.invalid &&
                     (attribute.dirty || attribute.touched)">

                    <label class="active validation-label" *ngIf="attribute.errors.required">
                        Attribute is required
                    </label>
                </div>
            </div>

            <div class="md-form">
                <ng-select id="controlType"
                           [items]="controlTypes"
                           bindLabel="title"
                           bindValue="id"
                           formControlName="controlType"
                           ngSelectDirective
                           [mdbValidate]="false">
                </ng-select>
                <label for="controlType">Control Type</label>


                <!--Validation Labels-->
                <div *ngIf="controlType.invalid &&
                     (controlType.dirty || controlType.touched)">

                    <label class="active validation-label" *ngIf="controlType.errors.required">
                        Control Type is required
                    </label>
                </div>
            </div>

            <div class="md-form">
                <input id="display-order"
                       type="number"
                       class="form-control"
                       formControlName="displayOrder"
                       [mdbValidate]="false"
                       mdbInputDirective>

                <label for="display-order">Display Order</label>

                <!--Validation Labels-->
                <div *ngIf="displayOrder.invalid &&
                     (displayOrder.dirty || displayOrder.touched)">

                    <label class="active validation-label" *ngIf="displayOrder.errors.required">
                        Display Order is required
                    </label>
                </div>
            </div>

            <div class="form-group">

                <label>Is Required</label>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" formControlName="isRequired" [(ngModel)]="model.isRequired">
                        Check if you want attribute to be required
                    </label>
                </div>

            </div>

            <div *ngFor="let error of errors">
                <label class="validation-error-label"> {{ error }} </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="submit" class="btn btn-black" [disabled]="form.invalid">Save</button>
            <button type="button" class="btn btn-outline-black" [routerLink]="['/admin/inventory/'+ id + '/attributes']">Cancel</button>
        </div>
    </div>
</form>
