﻿<div class="pt-100 h-100 container">
    <div class="row">
        <div class="col-6">
            <div class="d-flex mb-3 border-bottom">
                <h2 class="h2">
                    User Profile
                </h2>
            </div>

            <form [formGroup]="profileForm" (submit)="saveProfile()">

                <div class="md-form">
                    <input id="fullName"
                           type="text"
                           class="form-control"
                           formControlName="fullName"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="fullName">Full Name</label>

                    <!--Validation Labels-->
                    <div *ngIf="fullName.invalid &&
                        (fullName.dirty || fullName.touched)">

                        <label class="active validation-label" *ngIf="fullName.errors.required">
                            Full Name is required
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="address1"
                           type="text"
                           class="form-control"
                           formControlName="address1"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="address1">Address</label>

                    <!--Validation Labels-->
                    <div *ngIf="address1.invalid &&
                        (address1.dirty || address1.touched)">

                        <label class="active validation-label" *ngIf="address1.errors.required">
                            Address is required
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="city"
                           type="text"
                           class="form-control"
                           formControlName="city"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="city">City</label>

                    <!--Validation Labels-->
                    <div *ngIf="city.invalid &&
                        (city.dirty || city.touched)">

                        <label class="active validation-label" *ngIf="city.errors.required">
                            City is required
                        </label>
                    </div>
                </div>

                <div class="md-form">

                    <ng-select id="countries"
                               formControlName="countryId"
                               ngSelectDirective
                               bindLabel="countryName"
                               bindValue="id"
                               [items]="countries"
                               [mdbValidate]="false"
                               (change)="onCountryChanged($event)">
                    </ng-select>

                    <label for="countries">Country</label>

                    <!--Validation Labels-->
                    <div *ngIf="countryId.invalid &&
                                (countryId.dirty || countryId.touched)">

                        <label class="active validation-label" *ngIf="countryId.errors.required">
                            Country is required
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="postal-code"
                           type="text"
                           class="form-control"
                           formControlName="postalCode"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="postal-code">Postal Code</label>

                    <!--Validation Labels-->
                    <div *ngIf="postalCode.invalid &&
                                (postalCode.dirty || postalCode.touched)">

                        <label class="active validation-label" *ngIf="postalCode.errors.required">
                            Postal code is required
                        </label>

                        <label class="active validation-label" *ngIf="postalCode.errors.pattern">
                            Invalid Postal code
                        </label>
                    </div>
                </div>

                <div *ngIf="profileSuccess">
                    <label class="text-success font-small">Data successfully saved.</label>
                </div>

                <div *ngFor="let error of profileErrors">
                    <label class="validation-error-label"> {{ error }} </label>
                </div>

                <div class="md-form mt-3">
                    <button type="submit" class="btn btn-black waves-light" mdbWavesEffect [disabled]="profileForm.invalid">Save</button>
                </div>
            </form>
        </div>

        <div class="col-6">
            <div class="d-flex mb-3 border-bottom">
                <h2 class="h2">
                    Change Password
                </h2>
            </div>

            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

                <div class="md-form">
                    <input id="password"
                           type="password"
                           class="form-control"
                           formControlName="password"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="password">Password</label>

                    <!--Validation Labels-->
                    <div *ngIf="password.invalid &&
                        (password.dirty || password.touched)">

                        <label class="active validation-label" *ngIf="password.errors.required">
                            Password is required
                        </label>

                        <label class="active validation-label" *ngIf="password.errors.minlength">
                            Password should be minimum 8 symbols
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="newPassword"
                           type="password"
                           class="form-control"
                           formControlName="newPassword"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="newPassword">New Password</label>

                    <!--Validation Labels-->
                    <div *ngIf="newPassword.invalid &&
                        (newPassword.dirty || newPassword.touched)">

                        <label class="active validation-label" *ngIf="newPassword.errors.required">
                            New Password is required
                        </label>

                        <label class="active validation-label" *ngIf="newPassword.errors.minlength">
                            New Password should be minimum 8 symbols
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="confirmPassword"
                           type="password"
                           class="form-control"
                           formControlName="confirmPassword"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="confirmPassword">Confirm Password</label>

                    <!--Validation Labels-->
                    <div *ngIf="confirmPassword.invalid &&
                        (confirmPassword.dirty || confirmPassword.touched)">

                        <label class="active validation-label" *ngIf="confirmPassword.errors.required">
                            Confirm Password is required
                        </label>

                        <label class="active validation-label" *ngIf="confirmPassword.errors.equalValidator">
                            Confirm Password is not equal
                        </label>
                    </div>
                </div>

                <div *ngFor="let error of changePasswordErrors">
                    <label class="validation-error-label"> {{ error }} </label>
                </div>

                <div class="md-form">
                    <button type="submit" class="btn btn-black waves-light" mdbWavesEffect [disabled]="changePasswordForm.invalid">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>