﻿<div class="container pt-100" *ngIf="!loading">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Your Orders
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/']">
            <i class="fa fa-angle-double-left mr-2"></i>Continue shopping
        </a>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Date</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{ order.orderNumber }}</td>
                    <td>{{ order.createDate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ order.totalPrice }} €</td>
                    <td>{{ order.orderStatus.statusCode }}</td>
                    <td>
                        <a [routerLink]="['/order', order.id]">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>