<app>
    <div class="app-loading">
        <img src="https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/main/cropped-logo.png" height="45" alt="Marka Apparel">

        <div class="loader"></div>
    </div>
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}