<div class="container pt-100" >

    <catalog-top-menu></catalog-top-menu>

    <div *ngIf="!loading">
        <div class="row">
            <!--<div class="col-2">
                <catalog-filter (filterEvent)="onCatalogFilter($event)"></catalog-filter>
            </div>-->
            <div class="col">
                <div class="row" *ngIf="inventories.length > 0; else noItems">
                    <div *ngFor="let inventory of inventories" class="col-lg-3 col-md-12 mt-4">
                        <!--Card-->
                        <div class="card">
                            <a class="nav-link" [routerLink]="['/catalog-item', inventory.id]" mdbWavesEffect>
                                <!--Card image-->
                                <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                    <img *ngIf="inventory.pictures[0] && inventory.pictures[0].thumbnail; else emptyImage"
                                         [src]="inventory.pictures[0].thumbnail"
                                         [alt]="inventory.pictures[0].alt"
                                         class="img-fluid image">   

                                    <ng-template #emptyImage>
                                        <img src="http://via.placeholder.com/500x750" class="img-fluid image">
                                    </ng-template>

                                    <div class="mask"></div>

                                    <div class="card-content">
                                        <div class="card-title">
                                            <h4>{{ inventory.title }}</h4>
                                        </div>

                                        <div class="card-price mt-4">
                                            {{inventory.price}} EUR
                                        </div>
                                    </div>

                                </div>
                            </a>

                        </div>
                        <!--/.Card-->
                    </div>
                </div>

                <ng-template #noItems>
                    <div class="row" *ngIf="inventories.length == 0">
                        <div class="col mt-5 text-center font-small">
                            There are no any items.
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

        <catalog-paging [pageSize]="pageSize"
                        [total]="total"
                        (pageChangedEvent)="onPageChanged($event)">
        </catalog-paging>
    </div>
</div>