﻿<ul class="nav nav-tabs mt-4">
    <li class="nav-item">
        <a class="nav-link" *ngIf="id; else parameterless"
           [routerLinkActive]="['active']"
           [routerLink]="['/admin/inventory-group/', id, 'general']">
            General
        </a>

        <ng-template #parameterless>
            <a class="nav-link"
               [routerLinkActive]="['active']"
               [routerLink]="['/admin/inventory-group/general']">
                General
            </a>
        </ng-template>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['/admin/inventory-group/', id, 'picture']"
           [ngClass]="{disabled: !id}">
            Pictures
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link"
           [routerLinkActive]="['active']"
           [routerLink]="['/admin/inventory-group/', id, 'inventory']"
           [ngClass]="{disabled: !id}">
            Inventories
        </a>
    </li>
</ul>