﻿.cascading-admin-card {
    margin-top: 20px;
}

    .cascading-admin-card .admin-up {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: -20px;
    }

        .cascading-admin-card .admin-up .fa {
            padding: 1.7rem;
            font-size: 2rem;
            color: #fff;
            text-align: left;
            margin-right: 1rem;
            border-radius: 3px;
        }

        .cascading-admin-card .admin-up .data {
            float: right;
            margin-top: 2rem;
            text-align: right;
        }

            .cascading-admin-card .admin-up .data p {
                color: #999999;
                font-size: 12px;
            }

.classic-admin-card .card-body {
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
}

    .classic-admin-card .card-body p {
        font-size: 13px;
        opacity: 0.7;
        margin-bottom: 0;
    }

    .classic-admin-card .card-body h4 {
        margin-top: 10px;
    }

    .classic-admin-card .card-body .float-right .fa {
        font-size: 3rem;
        opacity: 0.5;
    }

.classic-admin-card .progress {
    margin: 0;
    opacity: 0.7;
}


.cascading-admin-card .admin-up .fa {
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}
