﻿<section class="mt-lg-5">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-xl-6 col-md-6 mb-3">

            <!--Card-->
            <div class="card card-cascade cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <i class="fa fa-money primary-color"></i>
                    <div class="data">
                        <p>SALES</p>
                        <h4><strong>$2000</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!--Text-->
                    <p class="card-text">Better than last week (25%)</p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-6 col-md-6 mb-3">

            <!--Card-->
            <div class="card card-cascade cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <i class="fa fa-line-chart warning-color"></i>
                    <div class="data">
                        <p>SUBSCRIPTIONS</p>
                        <h4><strong>200</strong></h4>
                    </div>
                </div>
                <!--/.Card Data-->
                <!--Card content-->
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar bg grey darken-2" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <!--Text-->
                    <p class="card-text">Worse than last week (25%)</p>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>