﻿<h3>
    Create New Inventory
</h3>

<admin-inventory-menu [id]="id"></admin-inventory-menu>

<a [routerLink]="['/admin/inventory', id, 'attribute']" class="btn btn-sm btn-outline-black float-right my-3">
    <mdb-icon icon="plus-circle" size="lg"></mdb-icon>
    Create New Attribute
</a>

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Control Type</th>
                <th scope="col">Is Required</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let attribute of attributes">
                <td>{{ attribute.attribute.title }}</td>
                <td>{{ attribute.controlType }}</td>
                <td>{{ attribute.isRequired }}</td>
                <td>
                    <a class="mr-3" [routerLink]="['/admin/inventory', id, 'attribute', attribute.id]">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <a (click)="delete(id, attribute.id)">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>