﻿<div class="row my-5" *ngIf="total > 0">
    <nav class="mx-auto">
        <ul class="pagination pg-dark">
            <!--Previous-->
            <li class="page-item" [ngClass]="{disabled:currentPage == 1}">
                <a class="page-link" (click)="setPage(currentPage - 1)" mdbWavesEffect aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!--Previous-->

            <li class="page-item active" *ngFor="let page of getPages()" [ngClass]="{active:currentPage == page}">
                <a class="page-link" mdbWavesEffect (click)="setPage(page)">{{page}}</a>
            </li>

            <!--Next-->
            <li class="page-item" [ngClass]="{disabled:currentPage === totalPages}">
                <a class="page-link" (click)="setPage(currentPage + 1)" mdbWavesEffect aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <!--Next-->
        </ul>
    </nav>
</div>