﻿<a [routerLink]="['/admin/specification']" class="btn btn-sm btn-outline-black float-right">
    <mdb-icon icon="plus-circle" size="lg"></mdb-icon>
    Create New Specification
</a>

<h3>
    Specifications
</h3>
<hr />

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let specification of specifications">
                <td>{{ specification.title }}</td>
                <td>{{ specification.description }}</td>
                <td>
                    <a class="mr-3" [routerLink]="['/admin/specification', specification.id]">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <a (click)="delete(specification.id)">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>