﻿<div class="container  pt-100" *ngIf="!loading">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Order {{ order.orderNumber }}
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/catalog']">
            <i class="fa fa-angle-double-left mr-2"></i>Continue shopping
        </a>
    </div>

    <div class="row mt-5">
        <div class="col-6 col-lg-4">
            <b>Order Status:</b> {{ order.orderStatus.statusCode }}<hr />
        </div>
    </div>

    <div class="row mt-5" *ngFor="let item of order.orderItems;">
        <div class="col-5 col-lg-2 my-auto">
            <img *ngIf="item.picture && item.picture.thumbnail; else emptyImage"
                 [src]="item.picture.thumbnail"
                 [alt]="item.picture.thumbnail"
                 class="image">

            <ng-template #emptyImage>
                <img src="http://via.placeholder.com/500x750" class="img-fluid image">
            </ng-template>
        </div>
        <div class="col-6 col-lg-8 pt-2">
            <h3 class="h3"><small>{{ item.title }}</small></h3>

            <!--<span class="font-small">
        {{ item.description }}
    </span>-->

            <p>
                {{ item.price }} EUR
            </p>


            <div class="attributes mt-3">
                <span class=attribute *ngFor="let attribute of item.orderItemAttributesValuesXref">
                    <strong class="mr-3">{{ attribute.inventoryAttributeTitle}}</strong> {{attribute.inventoryAttributeValueTitle}}
                </span>
            </div>

            <div class="quantity mt-3">
                <strong class="mr-3">Quantity</strong> {{item.quantity}}
            </div>

        </div>
        <!--<div class="col-lg-1 d-none d-lg-block align-self-center">
            <strong class="mr-3">Quantity</strong> {{item.quantity}}
        </div>-->
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4 order-md-1 text-right">
            <strong class="mr-3">Total (EUR)</strong>  {{ order.totalPrice | currency:'EUR' }}
        </div>
        <div class="col-md-8">
            <div class="row mt-5 mt-md-0">
                <div class="col-md-6">
                    <h5 class="h5">
                        Shipping Details:
                    </h5>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-2 small">
                    Contact Email:
                </div>
                <div class="col-4 small">
                    {{order.shipment.email}}
                </div>
            </div>
            <div class="row">
                <div class="col-2 small">
                    FullName:
                </div>
                <div class="col-4 small">
                    {{order.shipment.fullName}}
                </div>
            </div>
            <div class="row">
                <div class="col-2 small">
                    Address:
                </div>
                <div class="col-4 small">
                    {{order.shipment.address1}}
                </div>
            </div>
            <div class="row">
                <div class="col-2 small">
                    Country:
                </div>
                <div class="col-4 small">
                    {{order.shipment.country.countryName}}
                </div>
            </div>
            <div class="row">
                <div class="col-2 small">
                    City:
                </div>
                <div class="col-4 small">
                    {{order.shipment.city}}
                </div>
            </div>
            <div class="row">
                <div class="col-2 small">
                    Postal Code:
                </div>
                <div class="col-4 small">
                    {{order.shipment.postalCode}}
                </div>
            </div>
        </div>
    </div>
</div>





