﻿<h3>
    Create New Category
</h3>

<admin-category-menu [id]="id"></admin-category-menu>

<form [formGroup]="form" (submit)="save()" class="mt-3">
    <div class="row">
        <div class="col-4">
            <div class="md-form">
                <image-loader name="picture" formControlName="picture" [aspectRatio]="2/3" [resizeToWidth]="500"></image-loader>
            </div>
        </div>
        <div class="col-8">
            <div class="md-form">
                <input id="title"
                       type="text"
                       class="form-control"
                       formControlName="title"
                       [mdbValidate]="false"
                       mdbInputDirective>

                <label for="title">Title</label>

                <!--Validation Labels-->
                <div *ngIf="title.invalid &&
                       (title.dirty || title.touched)">

                    <label class="active validation-label" *ngIf="title.errors.required">
                        Title is required
                    </label>

                    <label class="active validation-label" *ngIf="title.errors.minlength">
                        Title must be at least 1 character long
                    </label>

                    <label class="active validation-label" *ngIf="title.errors.maxlength">
                        Title must be not more then 255 characters long
                    </label>
                </div>
            </div>

            <div class="md-form">
                <input id="alt"
                       type="text"
                       class="form-control"
                       formControlName="alt"
                       [mdbValidate]="false"
                       mdbInputDirective>

                <label for="alt">Alt</label>

                <!--Validation Labels-->
                <div *ngIf="alt.invalid &&
                       (alt.dirty || alt.touched)">

                    <label class="active validation-label" *ngIf="alt.errors.required">
                        Alt is required
                    </label>

                    <label class="active validation-label" *ngIf="alt.errors.minlength">
                        Alt must be at least 1 character long
                    </label>

                    <label class="active validation-label" *ngIf="alt.errors.maxlength">
                        Alt must be not more then 255 characters long
                    </label>
                </div>
            </div>

            <div *ngFor="let error of errors">
                <label class="validation-error-label"> {{ error }} </label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col text-right">
            <button type="submit" class="btn btn-black" [disabled]="form.invalid">Save</button>
            <button type="button" class="btn btn-outline-black" [routerLink]="['/admin/categories']">Cancel</button>
        </div>
    </div>
</form>
