﻿<div class="container pt-100">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Checkout
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/cart']">
            <i class="fa fa-angle-double-left mr-2"></i>Return to cart
        </a>
    </div>

    <form [formGroup]="form" (submit)="checkout()">
        <div class="row mt-3">
            <div class="col-md-4 offset-md-1 order-md-2 mt-3">

                <h5 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="h5 mb-0">Shopping cart</span>
                    <span class="badge badge-danger">{{cart.cartItems.length}}</span>
                </h5>

                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of cart.cartItems">
                        <div class="w-75">
                            <h6 class="my-0">{{ item.title }}</h6>
                            <!--<small class="text-muted">{{ item.description }}</small>-->
                        </div>
                        <span class="text-muted">€ {{ item.price }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between shipping-list-item">
                        <div>
                            <h6 class="my-0">Shipping</h6>
                        </div>
                        <span><small>FREE</small></span>
                        <!--<span>€ {{ cart.shippingPrice }}</span>-->
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Total (EUR)</strong>
                        <strong>€ {{ cart.totalPrice }} </strong>
                    </li>
                </ul>
            </div>


            <div class="col-md-7">
                <div class="md-form">
                    <input id="email"
                           type="text"
                           class="form-control"
                           formControlName="email"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="email">Email</label>

                    <!--Validation Labels-->
                    <div *ngIf="email.invalid &&
                        (email.dirty || email.touched)">

                        <label class="active validation-label" *ngIf="email.errors.required">
                            Email is required
                        </label>

                        <label class="active validation-label" *ngIf="email.errors.email">
                            Invalid Email
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="full-name"
                           type="text"
                           class="form-control"
                           formControlName="fullName"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="full-name">Full Name</label>

                    <!--Validation Labels-->
                    <div *ngIf="fullName.invalid &&
                        (fullName.dirty || fullName.touched)">

                        <label class="active validation-label" *ngIf="fullName.errors.required">
                            Full Name is required
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="address1"
                           type="text"
                           class="form-control"
                           formControlName="address1"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="address1">Address</label>

                    <!--Validation Labels-->
                    <div *ngIf="address1.invalid &&
                        (address1.dirty || address1.touched)">

                        <label class="active validation-label" *ngIf="address1.errors.required">
                            Address is required
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="city"
                           type="text"
                           class="form-control"
                           formControlName="city"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="city">City</label>

                    <!--Validation Labels-->
                    <div *ngIf="city.invalid &&
                        (city.dirty || city.touched)">

                        <label class="active validation-label" *ngIf="city.errors.required">
                            City is required
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="md-form">

                            <ng-select id="countries"
                                       formControlName="countryId"
                                       ngSelectDirective
                                       bindLabel="countryName"
                                       bindValue="id"
                                       [items]="countries"
                                       [mdbValidate]="false"
                                       (change)="onCountryChanged($event)">
                            </ng-select>

                            <label for="countries">Country</label>

                            <!--Validation Labels-->
                            <div *ngIf="countryId.invalid &&
                                (countryId.dirty || countryId.touched)">

                                <label class="active validation-label" *ngIf="countryId.errors.required">
                                    Country is required
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="md-form">
                            <input id="postal-code"
                                   type="text"
                                   class="form-control"
                                   formControlName="postalCode"
                                   [mdbValidate]="false"
                                   mdbInputDirective />

                            <label for="postal-code">Postal Code</label>

                            <!--Validation Labels-->
                            <div *ngIf="postalCode.invalid &&
                                (postalCode.dirty || postalCode.touched)">

                                <label class="active validation-label" *ngIf="postalCode.errors.required">
                                    Postal code is required
                                </label>

                                <label class="active validation-label" *ngIf="postalCode.errors.pattern">
                                    Invalid Postal code
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="h5 mt-3">Payment Method</h5>
                <hr />

                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="paymentType" value="BNTNF" formControlName="paymentTypeCode" checked mdbInputDirective [mdbValidate]="false">
                    <label class="custom-control-label" for="paymentType">Bank Transfer</label>
                </div>

                <div class="mt-5">
                    <div *ngFor="let error of errors">
                        <label class="validation-error-label"> {{ error }} </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-black btn-block waves-light mt-5" mdbWavesEffect [disabled]="form.invalid">Complete Order</button>
            </div>
        </div>
    </form>
</div>