﻿<div class="about pt-100"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="h2">
                About
            </h2>
            <hr />
        </div>
        <dib class="col-lg-6">
            Marka Apparel is a brand from Latvia, created with both looks and feels in mind. We choose only the finest fabrics from natural ingredients and thoughtfully design our products from the ground up.
            <br /><br />
            Our commitment to produce high-quality clothing from virgin wool, mohair, angora and silk is highlighted through a fine regard for detail, unique patterns and a wide but original range of colors.
            <br /><br />
            Marka Apparel provides a distinctive image the finest level of craftsmanship for each of our customers.
        </dib>
    </div>
</div>
