﻿<h3>
    Orders
</h3>
<hr />

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Date</th>
                <th scope="col">Total Price</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.createDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ order.totalPrice }} €</td>
                <td>{{ order.orderStatus.statusCode }}</td>
                <td>
                    <a [routerLink]="['/admin/order', order.id]">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>