﻿<div class="container pt-100">
    <div class="d-flex border-bottom">
        <h2 class="h2">
            Change Password
        </h2>
        <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/login']">
            <i class="fa fa-angle-double-left mr-2"></i>Return to login
        </a>
    </div>

    <div class="row mt-3">
        <div class="col-lg-6">
            <form [formGroup]="form" (submit)="resetPassword()">
                <div class="md-form">
                    <input id="email"
                           type="text"
                           class="form-control"
                           formControlName="email"
                           [mdbValidate]="false"
                           mdbInputDirective />

                    <label for="email">Email</label>

                    <!--Validation Labels-->
                    <div *ngIf="email.invalid &&
                        (email.dirty || email.touched)">

                        <label class="active validation-label" *ngIf="email.errors.required">
                            Email is required
                        </label>

                        <label class="active validation-label" *ngIf="email.errors.email">
                            Invalid Email
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="password"
                           type="password"
                           class="form-control"
                           formControlName="password"
                           [mdbValidate]="false"
                           mdbInputDirective
                           [ngClass]="{'counter-danger': password.invalid && password.dirty }" />

                    <label for="password">Password</label>

                    <!--Validation Labels-->
                    <div *ngIf="password.invalid &&
                        (password.dirty || password.touched)">

                        <label class="active validation-label" *ngIf="password.errors.required">
                            Password is required
                        </label>

                        <label class="active validation-label" *ngIf="password.errors.minlength">
                            Password should be minimum 8 symbols
                        </label>
                    </div>
                </div>

                <div class="md-form">
                    <input id="confirmPassword"
                           type="password"
                           class="form-control"
                           formControlName="confirmPassword"
                           [mdbValidate]="false"
                           mdbInputDirective
                           [ngClass]="{'counter-danger': confirmPassword.invalid && confirmPassword.dirty }" />

                    <label for="confirmPassword">Confirm Password</label>

                    <!--Validation Labels-->
                    <div *ngIf="confirmPassword.invalid &&
                        (confirmPassword.dirty || confirmPassword.touched)">

                        <label class="active validation-label" *ngIf="confirmPassword.errors.required">
                            Confirm Password is required
                        </label>

                        <label class="active validation-label" *ngIf="confirmPassword.errors.equalValidator">
                            Confirm Password is not equal
                        </label>
                    </div>
                </div>

                <div *ngIf="success">
                    <label class="text-success font-small">Password successfully changed.</label>
                    <a class="font-small ml-3" [routerLink]="['/login']">
                        Sign in
                    </a>
                </div>

                <div *ngFor="let error of errors">
                    <label class="validation-error-label"> {{ error }} </label>
                </div>

                <div class="md-form">
                    <button type="submit" class="btn btn-black waves-light" mdbWavesEffect [disabled]="form.invalid">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>