﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 14px; line-height: 1.42857143; color: #333;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0"  style="padding-right:50px; padding-left:50px;">
        <tr>
            <td width="100%" align="center" valign="middle" style="padding-top:50px;">
                <img width="100" src="https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/main/cropped-logo.png" alt="Marka Apparel" />
            </td>
        </tr>
        <tr>
            <td width="100%" align="left" valign="middle" style="padding-top:30px;">
                Dear, {{full_name}} <br><br>
                Your order Nr. {{order_number}} is shipped.<br><br>
                Best regards,<br>
                Marka apparel
            </td>
        </tr>
        <tr>
            <td width="100%" style="padding-top:30px;padding-bottom: 10px;">
                Order Items:
            </td>
        </tr>
        <tr>
            <td width="100%">
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <th width="20%" align="left" style="border-bottom:1px solid grey;"></th>
                        <th width="40%" align="left" style="border-bottom:1px solid grey;">Title</th>
                        <th width="20%" align="left" style="border-bottom:1px solid grey;">Quantity</th>
                        <th width="20%" align="left" style="border-bottom:1px solid grey;">Price</th>
                    </tr>

                    {{inventory_items}}
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%" align="right">
                <table style="border-top:1px solid grey;" cellspacing="5" cellpadding="0">
                    <tr>
                        <td width="50%" align="right" valign="middle">
                            <strong>Total(EUR)</strong> 
                        </td>
                        <td width="50%" align="left" valign="middle">
                            €{{order_total}}
                        </td>
                    </tr>
                </table>
                <table border="0" cellspacing="5" cellpadding="0" style="padding-top: 20px;">
                    <tr>
                        <td width="50%" align="right" valign="middle">
                            FullName
                        </td>
                        <td width="50%" align="left" valign="middle">
                            {{full_name}}
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="right" valign="middle">
                            Address
                        </td>
                        <td width="50%" align="left" valign="middle">
                            {{address}}
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="right" valign="middle">
                            Country
                        </td>
                        <td width="50%" align="left" valign="middle">
                            {{country}}
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="right" valign="middle">
                            City
                        </td>
                        <td width="50%" align="left" valign="middle">
                            {{city}}
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" align="right" valign="middle">
                            Postal Code
                        </td>
                        <td width="50%" align="left" valign="middle">
                            {{postal_code}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" valign="middle" style="padding-top:30px;">
                Marka Apparel
            </td>
        </tr>
    </table>
</body>
</html>