﻿<h3>
    Create New Attribute
</h3>

<form [formGroup]="form" (submit)="save()" class="mt-3">
    <div class="row">
        <div class="col">
            <div formArrayName="translations" *ngFor="let translation of translations; let i = index;">
                <div [formGroupName]="i">
                    <div class="md-form">
                        <input id="title-{{i}}"
                               type="text"
                               class="form-control"
                               formControlName="title"
                               [mdbValidate]="false"
                               mdbInputDirective>

                        <label for="title-{{i}}" class="">{{ translations[i].controls.languageTitle.value }} Title</label>

                        <!--Validation Labels-->
                        <div *ngIf="translations[i].controls.title.invalid &&
                               (translations[i].controls.title.dirty || translations[i].controls.title.touched)">

                            <label class="active validation-label" *ngIf="translations[i].controls.title.errors.required">
                                {{ translations[i].controls.languageTitle.value }} Title is required
                            </label>

                            <label class="active validation-label" *ngIf="translations[i].controls.title.errors.minlength">
                                {{ translations[i].controls.languageTitle.value }} Title must be at least 1 character long
                            </label>

                            <label class="active validation-label" *ngIf="translations[i].controls.title.errors.maxlength">
                                {{ translations[i].controls.languageTitle.value }} Title must be not more then 255 characters long
                            </label>
                        </div>
                    </div>

                    <div class="md-form">
                        <input id="description-{{i}}"
                               type="text"
                               class="form-control"
                               formControlName="description"
                               [mdbValidate]="false"
                               mdbInputDirective>
                        <label for="description-{{i}}" class="">{{ translations[i].controls.languageTitle.value }} Description</label>
                    </div>

                    <div *ngFor="let error of errors">
                        <label class="validation-error-label"> {{ error }} </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="submit" class="btn btn-black" [disabled]="form.invalid">Save</button>
            <button type="button" class="btn btn-outline-black" [routerLink]="['/admin/attributes']">Cancel</button>
        </div>
    </div>
</form>