﻿<h3>
    Create New Inventory Group
</h3>

<admin-inventory-group-menu [id]="id"></admin-inventory-group-menu>

<form [formGroup]="form" (submit)="save()" class="mt-3">
    <div class="row">
        <div class="col">

            <div class="md-form">
                <ng-select [items]="inventories"
                           bindLabel="title"
                           bindValue="id"
                           formControlName="inventoryId"
                           placeholder="Inventory">
                </ng-select>

                <!--Validation Labels-->
                <div *ngIf="inventory.invalid &&
                     (inventory.dirty || inventory.touched)">

                    <label class="active validation-label" *ngIf="inventory.errors.required">
                        Inventory is required
                    </label>
                </div>
            </div>

            <div class="md-form">
                <input id="display-order"
                       type="number"
                       class="form-control"
                       formControlName="displayOrder"
                       [mdbValidate]="false"
                       mdbInputDirective>

                <label for="display-order">Display Order</label>

                <!--Validation Labels-->
                <div *ngIf="displayOrder.invalid &&
                     (displayOrder.dirty || displayOrder.touched)">

                    <label class="active validation-label" *ngIf="displayOrder.errors.required">
                        Display Order is required
                    </label>
                </div>
            </div>

            <div class="form-group">

                <label>Disabled</label>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" formControlName="disabled">
                        Check if you want inventory to be disabled in group
                    </label>
                </div>

            </div>

            <div *ngFor="let error of errors">
                <label class="validation-error-label"> {{ error }} </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="submit" class="btn btn-black">Save</button>
            <button type="button" class="btn btn-outline-black" [routerLink]="['/admin/inventory-groups']">Cancel</button>
        </div>
    </div>
</form>

<br />

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Picture</th>
                <th scope="col">Title</th>
                <th scope="col">Display Order</th>
                <th scope="col">Disabled</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inv of inventoryGroupInventories">
                <td>
                    <img width="150" *ngIf="inv.picture" [src]="inv.picture.thumbnail" class="img-responsive img-thumbnail" />
                </td>
                <td>{{ inv.title }}</td>
                <td>{{ inv.displayOrder }}</td>
                <td>{{ inv.disabled }}</td>
                <td>
                    <a (click)="delete(inv.id)">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>