﻿<div class="pt-100 container">

    <div class="row"  *ngIf="!loading">
        <div class="col-lg-4">
            <div class="inventory-image">
                <!--Carousel Wrapper-->
                <mdb-carousel [isControls]="true" [interval]="0" [animation]="'slide'" #carouselRef>
                    <mdb-slide *ngFor="let picture of inventory.pictures">
                        <img class="d-block w-100" src="{{picture.thumbnail}}" alt="{{ picture.alt }}">
                    </mdb-slide>
                </mdb-carousel>
                <!--/.Carousel Wrapper-->

                <!--<div class="image-thumbnails mx-1 my-1 mt-3 text-center" *ngIf="inventory.pictures.length > 1">
                    <a (click)="carouselRef.selectSlide(i)" *ngFor="let picture of inventory.pictures; let i = index">
                        <img class="w-25 d-inline-block mx-1" src="{{picture.thumbnail}}" alt="{{ picture.alt }}">
                    </a>
                </div>-->
            </div>
        </div>
        <div class="col-lg-7 offset-lg-1">
            <div class="d-flex border-bottom">
                <h2 class="h2">
                    {{inventory.title}}
                </h2>
                <a class="ml-auto my-auto d-none d-md-block" [routerLink]="['/catalog']">
                    <i class="fa fa-angle-double-left mr-2"></i>Continue shopping
                </a>
            </div>

            <div class="inventory-price mt-5">
                <h3 class="h3"><small>€ {{inventory.price}} EUR</small></h3>
            </div>

            <div class="inventory-description my-5">
                {{inventory.description}}
            </div>

            <div class="inventory-specifications" *ngFor="let spec of inventory.specifications">
                <b class="mr-5">{{ spec.specification.title }}</b>

                {{ spec.specificationValue.title }}
            </div>

            <div class="mt-5">
                <div class="inventory-attribute" *ngFor="let attribute of inventory.attributes; let i = index">
                    <b class="mr-5">{{ attribute.attribute.title }}</b>

                    <div class="btn-group">
                        <label class="btn btn-sm btn-grey waves-light" [(ngModel)]="model.cartItemAttributesValuesXref[i].inventoryAttributeValueId" mdbRadio="{{value.id}}" mdbWavesEffect *ngFor="let value of attribute.values">
                            {{ value.title }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-5">
                <div class="md-form input-group">
                    <input type="number" class="form-control" min="1" [max]="inventory.quantity" [(ngModel)]="model.quantity">
                    <div class="input-group-btn">
                        <button class="btn btn-black btn-lg waves-light" type="button" (click)="addItem()" [disabled]="inventory.quantity < 1 || model.quantity > inventory.quantity" mdbWavesEffect>Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
