﻿<h3>
    Create New Inventory
</h3>

<admin-inventory-menu [id]="id"></admin-inventory-menu>

<form [formGroup]="form" (submit)="save()" class="mt-3">
    <div class="row">
        <div class="col">

            <div class="md-form">
                <ng-select [items]="specifications"
                           bindLabel="title"
                           bindValue="id"
                           formControlName="specificationId"
                           placeholder="Specification"
                           (change)="onSpecificationChange($event)">
                </ng-select>

                <!--Validation Labels-->
                <div *ngIf="specification.invalid &&
                     (specification.dirty || specification.touched)">

                    <label class="active validation-label" *ngIf="specification.errors.required">
                        Specification is required
                    </label>
                </div>
            </div>

            <div class="md-form">
                <ng-select [items]="specificationValues"
                           bindLabel="title"
                           bindValue="id"
                           formControlName="specificationValueId"
                           placeholder="Specification Value">
                </ng-select>

                <!--Validation Labels-->
                <div *ngIf="specificationValue.invalid &&
                     (specificationValue.dirty || specificationValue.touched)">

                    <label class="active validation-label" *ngIf="specificationValue.errors.required">
                        Specification Value is required
                    </label>
                </div>
            </div>

            <div class="md-form">
                <input id="display-order"
                       type="number"
                       class="form-control"
                       formControlName="displayOrder"
                       [mdbValidate]="false"
                       mdbInputDirective>

                <label for="display-order">Display Order</label>

                <!--Validation Labels-->
                <div *ngIf="displayOrder.invalid &&
                     (displayOrder.dirty || displayOrder.touched)">

                    <label class="active validation-label" *ngIf="displayOrder.errors.required">
                        Display Order is required
                    </label>
                </div>
            </div>

            <div class="form-group">

                <label>Hidden</label>

                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" formControlName="hidden">
                        Check if you want specification to be hidden on inventory page
                    </label>
                </div>

            </div>

            <div *ngFor="let error of errors">
                <label class="validation-error-label"> {{ error }} </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <button type="submit" class="btn btn-black">Save</button>
            <button type="button" class="btn btn-outline-black" [routerLink]="['/admin/inventory/'+ id + '/attributes']">Cancel</button>
        </div>
    </div>
</form>

<br />

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Specification</th>
                <th scope="col">Value</th>
                <th scope="col">Display Order</th>
                <th scope="col">Hidden</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let spec of inventorySpecifications">
                <td>{{ spec.specification.title }}</td>
                <td>{{ spec.specificationValue.title }}</td>
                <td>{{ spec.displayOrder }}</td>
                <td>
                    {{ spec.hidden }}
                </td>
                <td>
                    <a (click)="delete(spec.id)">
                        <i class="fa fa-remove" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>