
<div class="home" [imageLoader]="'https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/common/2000.jpg'">
    <div class="gradient">
        <div class="container">
            <div class="row h-100 align-items-end">
                <div class="col text-center text-white mb-3">
                    <h1>Marka Apparel</h1>
                    <button type="button" class="btn btn-white mt-3" mdbWavesEffect [routerLink]="['/catalog']">
                        <span>Shop Outerwear</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 my-5 text-center ">
            <h2 class="h2">
                We Know
            </h2>
            <p class="my-3">
                One look is worth a thousand words
            </p>
            <button type="button" class="btn btn-outline-black" mdbWavesEffect [routerLink]="['/catalog']">
                <span>Shop Now</span>
            </button>
        </div>
    </div>

    <div class="row we-are">
        <div class="col-lg-6 img" [imageLoader]="'https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/common/500.jpg'">

        </div>
        <div class="col-lg-6 d-flex">
            <div class="my-auto mx-3 w-100 text-center">
                <h2 class="h2 mt-3">
                    Who we are?
                </h2>
                <p class="mt-5">
                    Marka apparel is a fashion brand based on simplicity to highlight natural beauty.  Excellent quality, finest fabrics and juice colors makes apparel created by Marka highly valued and loved.
                </p>
            </div>
        </div>
    </div>

    <div class="row contact-us">
        <div class="col-lg-6 img order-lg-2" [imageLoader]="'https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/common/500-2.jpg'">

        </div>
        <div class="col-lg-6 d-flex">
            <div class="my-auto mx-3 w-100 text-center">
                <h2 class="h2 mt-3">
                    Drop Us Message
                </h2>
                <p class="mt-3 small text-muted">
                    Feel free to contact us if you have any questions or suggestions
                </p>

                <div class="mx-5">
                    <form [formGroup]="contactUsForm" (submit)="sendMessage()">
                        <div class="md-form">
                            <input id="name"
                                   type="text"
                                   class="form-control"
                                   formControlName="name"
                                   [mdbValidate]="false"
                                   mdbInputDirective />

                            <label for="name">Name</label>

                            <!--Validation Labels-->
                            <div *ngIf="name.invalid &&
                                (name.dirty || name.touched)">

                                <label class="active validation-label" *ngIf="name.errors.required">
                                    Name is required
                                </label>
                            </div>

                        </div>

                        <div class="md-form">
                            <input id="email"
                                   type="text"
                                   class="form-control"
                                   formControlName="email"
                                   [mdbValidate]="false"
                                   mdbInputDirective />

                            <label for="email">Email</label>

                            <!--Validation Labels-->
                            <div *ngIf="email.invalid &&
                                (email.dirty || email.touched)">

                                <label class="active validation-label" *ngIf="email.errors.required">
                                    Email is required
                                </label>

                                <label class="active validation-label" *ngIf="email.errors.email">
                                    Invalid Email
                                </label>
                            </div>

                        </div>

                        <div class="md-form">
                            <textarea id="message"
                                      type="text"
                                      class="md-textarea form-control"
                                      rows="3"
                                      formControlName="message"
                                      [mdbValidate]="false"
                                      mdbInputDirective></textarea>

                            <label for="message">Message</label>

                            <!--Validation Labels-->
                            <div *ngIf="message.invalid &&
                                (message.dirty || message.touched)">

                                <label class="active validation-label" *ngIf="message.errors.required">
                                    Message is required
                                </label>
                            </div>

                        </div>
                        <div *ngIf="success">
                            <label class="text-success font-small">Message successfully sent!</label>
                        </div>
                        <div *ngFor="let error of errors">
                            <label class="validation-error-label"> {{ error }} </label>
                        </div>
                        <button type="submit" class="btn btn-black btn-block waves-light my-5" mdbWavesEffect [disabled]="contactUsForm.invalid">Send Message</button>

                    </form>
                </div>

            </div>
        </div>
    </div>


</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 my-5 text-center ">
            <h2 class="h2">
                #markaapparel
            </h2>
        </div>
    </div>

    <div class="row featured-products">
        <div class="col-lg-3 mt-3">
            <div class="view overlay img" [imageLoader]="'https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/common/inst1.jpg'">
                <a class="flex-center" [routerLink]="['/catalog-item/5']">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Beanie Hat</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 mt-3">
            <div class="view overlay img" [imageLoader]="'https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/common/inst2.jpg'">
                <a class="flex-center" [routerLink]="['/catalog-item/1']">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Oversize Coat</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 mt-3">
            <div class="view overlay img" [imageLoader]="'https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/common/inst3.jpg'">
                <a class="flex-center" [routerLink]="['/catalog-item/5']">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Beanie Hat</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 mt-3">
            <div class="view overlay img" [imageLoader]="'https://markaapparel.fra1.cdn.digitaloceanspaces.com/development/images/common/inst4.jpg'">
                <a class="flex-center" [routerLink]="['/catalog-item/3']">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Alpaca Soft Coat</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
