﻿
.home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

    .home,
    .home .gradient,
    .home .gradient .container {
        height: 95vh;
    }

        .home .gradient .container .row {
            margin-top: -2rem;
        }

.gradient {
    background: -moz-linear-gradient(rgb(255, 255, 255, 0.9), rgba(22, 22, 25, 0) 50%);
    background: -webkit-linear-gradient(rgb(255, 255, 255, 0.9), rgba(22, 22, 25, 0) 50%);
    background: -webkit-gradient(linear, from(rgb(255, 255, 255, 0.9)), to(rgba(22, 22, 25, 0)));
    background: -o-linear-gradient(rgb(255, 255, 255, 0.9), rgba(22, 22, 25, 0) 50%);
    background: linear-gradient(rgb(255, 255, 255, 0.9), rgba(22, 22, 25, 0) 50%);
    height: 100vh;
}

.we-are {
    background-color: #f8f9fa;
}

    .we-are .img {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
    }

.contact-us {
    background-color: #f8f9fa;
}

    .contact-us .img {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
    }

.featured-products .img {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}
