﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 14px; line-height: 1.42857143; color: #333;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0"  style="padding-right:50px; padding-left:50px;">
        <tr>
            <td width="100%" align="center" valign="middle" style="padding-top:50px;">
                [Marka]
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" valign="middle" style="padding-top:30px;">
                Hello, you received new message.
            </td>
        </tr>
        <tr>
            <td width="100%" style="padding-top:30px;">
                Contact:
            </td>
        </tr>
        <tr>
            <td width="100%">
                {{name}}
            </td>
        </tr>
        <tr>
            <td width="100%">
                {{email}}
            </td>
        </tr>
        <tr>
            <td width="100%" style="padding-top:30px;">
                Message:
            </td>
        </tr>
        <tr>
            <td width="100%">
                {{message}}
            </td>
        </tr>
        <tr>
            <td width="100%" align="center" valign="middle" style="padding-top:30px;">
                Marka`18
            </td>
        </tr>
    </table>
</body>
</html>